
@media only screen and (max-width: 1000px) {
    .mobile{
        display: inline;
    }
    
   .nav{
        height: 100px;
    }
   .nav .nav-wrapper{
       padding-top: 18px;
    }
    .nav .nav-wrapper .brand-logo img{
       width: 300px;
       margin-top:0px;
    }
    .siguiente{
        width: 80px;
    }
    .anterior{
        width: 80px;
    }

    
    
 

        /*LOGO MERCADO CHINO header*/
    header .mercadochino{
        font-size: 30px;
        width: 250px;
        /*! padding: 0px; */
        margin-top: 5px;
    }
    header .mercadochino  part{
        padding: 0px;
        margin: 0px;
        margin: 0px -4px;
        font-family: 'Sarala', sans-serif;
    }
    header .mercadochino .mc2{
        color: red;
    }

    #mercadoChinoPrincipal{
        position: absolute;
        width: 100%;
        font-size: 80px;
        top: 20%;
        text-align: center;
        color: white;
    }
    
    
    
    
    .section{
        font-size: 30px;
        text-align: justify;
    }
    
    .imagen1{
        background-position-x: 80%;
    }
    .imagen2{
        background-position-x: 40%;
    }
    .imagen3{
        background-position-x: 80%;
    }
    .imagen4{
        background-position-x: 10%;
    }
    
    form *{
        font-size: 30px !important;
    }
    
    form input{
        height: 80px !important;
    }
    
   
    .btn-enviar{
        width: 150px !important;
        height: 150px !important;
        position: absolute !important;
        left: 40%;
    }
    
    
    
    .down1{
      position: absolute;
      background:transparent;
      width: 100px;
      height: 100px;
      bottom: 100px;
      left: 50%;
      transform: translate(-50%);
      border: 1px solid white;
      border-radius: 50%;
      color: white;
      z-index: 50;
    }
    
    
    
    
    
    
    
    
    
    footer{
        font-size: 25px;
    }
    footer .links{
       margin-top: 50px !important;
    }

    .principalParallax{
  
    }
    .principalParallax .parallax-container{
        height: 100% !important;
    }
    .principalParallax .parallax-container .parallax img{
        /* height: 100%;*/
        /*! width:  100%; */
        margin: 0px;
        /*! top: 0px !important; */
        position: fixed;
        transform: translateY(0px) !important;
        left: 0px;
    }
    
    
    
    
    
    /*MENU DESPLEGABLE*/
    .contenedor-sectores .collapsible-header{
       height: 75px;
       padding-top: 17px;
       font-size: 35px;
    }
    .contenedor-sectores .collapsible-body{
        height: 70px;
       font-size: 30px !important;
       padding-top: 15px !important;
    }
    .contenedor-sectores .collapsible-body a{
       font-size: 35px !important;
           
    }
    
    
    
    
    /*CARRITO*/
    .carrito .tarjeta{
       height: 450px;
       font-size: 30px;
    }
    .carrito .total{
        font-size: 40px;
    }
    .carrito .eliminar{
        font-size: 25px !important;
    }
   .articulo .imagen{
        background-position-x: 0px !important;
    }
    
    
    
    /*PORTADA*/
    
    .portada{
        background-position-y: 0px;
    }
    
    
    
    
    /*VISTA DE ARTICULOS*/
    .contenedorArticulo{
        position: fixed ;
        top: 20%;
        height: 100%;
        padding: 0px 0px;
        padding-top: 0px;
    }
    
    
    
    .contenedorArticulo .descripcionArticulo .titulo span{
        font-size: 50px;
    }
    .contenedorArticulo .descripcionArticulo .descripcion span{
        font-size: 30px;
    }
    .contenedorArticulo .precioArticulo{
        margin-top: 170px;
    }
    .contenedorArticulo .precioArticulo .antes div{
        font-size: 2em;
    }
    .contenedorArticulo .precioArticulo .antes .monto{
        margin-left: -3px;
    }
    .contenedorArticulo .precioArticulo .descuento{
        position: absolute;
        width: 138px;
        padding-left: 30px;
        margin-left: 350px;
        margin-top: -20px;
    }
    .contenedorArticulo .precioArticulo .descuento div{
        font-size: 2.5em;
    }
    .contenedorArticulo .precioArticulo  .ahora{
        margin-top: 0px;
    }
    .contenedorArticulo .precioArticulo  .ahora .ahorita{
        font-size: 2.5em;
    }
    .contenedorArticulo .precioArticulo  .ahora .b{
        font-size: 5em;
     }
    .contenedorArticulo .precioArticulo  .ahora .moneda{
        font-size: 3em;
    }
    
    .agregarAlCarrito{
        position: fixed;
        width: 100%;
        height: 80px !important;
        left: 0px;
        bottom: 0px;
        font-size: 2em !important;
        
    }
    #cantidadArticulo{
        position: fixed;
        width: 60% !important;
        height: 80px;
        float: right;
        left: 20% !important;
        font-size: 3em;
    }

    .desplegarVista{
        right: 60px;
        bottom: 200px;    
    }
    .btnVista{
        width: 80px !important;
        height: 80px !important;
        padding-top: 20px !important; 
    }
    
    
    /*GONDOLA*/
    .articulo  .arriba{
        height: 500px;
    }
    .articulo .arriba .izquierda .antes{
        margin-left: 10px;
        margin-top: 20px;
    }
    .articulo .arriba .izquierda .antes div{
        font-size: 1.5em;
    }
    .articulo .arriba .izquierda .antes .monto{
        margin-left: -3px;
    }
    .articulo .arriba .izquierda .descuento{
        background-color: #e41f1f;
        width: 95px;
        padding-left: 15px;
        margin-left: 165px;
        margin-top: -10px;
    }
    .articulo .arriba .izquierda .descuento div{
        font-size: 2em;
    }
    .articulo .arriba .izquierda .ahora{
        margin-top: 0px;
    }
    .articulo .arriba .izquierda .ahora .ahorita{
        font-size: 1.8em;
    }
    .articulo .arriba .izquierda .ahora .b{
        font-size: 3em;
    }
    .articulo .arriba .izquierda .ahora .moneda{
        font-size: 2em;
    }
    .articulo .arriba .izquierda  .vermas{
        margin-top: 100px;
        font-size: 1.5em;
        width: 100%;
        padding: 2px 2px;
    }

    .articulo .arriba .izquierda  .agrAlCarrito{
        width: 100%;
        height: 50px;
        padding-top: 7px;
        font-size: 1.5em;
    }


    .articulo .abajo{
        font-size: 2em;
    }


    
    
    
    
    
}