.portada{
    height: 500px;
    /*! background: blue; */
    background-image: url("../img/Cocina.jpg");
    background-size: cover;
    background-position-Y:-400px;
}



/*Menú desplegable IZQUIERDA*/
.contenedor-sectores{
    background-color: white;
    margin: 15px 0px;
}
.contenedor-sectores .collapsible {
    border: none;
    box-shadow: none;
}
.contenedor-sectores .collapsible-header{
    height: 55px;
    padding-top: 15px;
    font-size: 17px;
}
.contenedor-sectores .collapsible-body{
        height: 50px;
    padding-top: 12.5px !important;
}
.contenedor-sectores .collapsible-body a{
    color: black;
    font-size: 15px;
    font-weight: 200;
    width: 200px;
    position: absolute;
    cursor: pointer;
}





/*Carrito de compras DERECHA*/

.carrito{
    padding:1px 10px;
    padding-bottom: 11px;
}
.carrito .tarjeta{
    height: 150px;
    margin-top: 10px;
    background-color: #eaeaea;
}
.carrito .tarjeta .arriba{
    height: 50%;
}

.carrito .tarjeta .arriba .imagen{
    height: 100%;
    background-image: url("../img/Dormitorio3.jpg");
    background-size: cover;
    background-position-y: -100px;
}
.carrito .tarjeta .abajo{
    padding: 7px;
}
.carrito .tarjeta .abajo .renglonUp{
    margin: 3px;
}
.carrito .tarjeta .abajo .renglonUp a{
    position: absolute;
    margin: -30px 30px;
    font-size: 14px;
    cursor: pointer;
    right: 0px;
}
.carrito .tarjeta .abajo .renglonDown{}

.carrito .tarjeta .abajo .renglonDown .monedaU{}
.carrito .tarjeta .abajo .renglonDown .montoU{margin-left: -3px;}
.carrito .tarjeta .abajo .renglonDown .cnatidad{padding-left: 10px;}
.carrito .tarjeta .abajo .renglonDown .unidades{}
.carrito .tarjeta .abajo .renglonDown .total{margin-left: 8px;}
.carrito .tarjeta .abajo .renglonDown .monedaT{}
.carrito .tarjeta .abajo .renglonDown .montoT{margin-left: -3px;}


.carrito .finalizarCompra button{
    width: 100%;
    border: none;
    border-top: 1px solid silver;
    background-color: transparent;
    transition: all 1s;
    padding: 10px;
}

.carrito .finalizarCompra button:hover{
    background-color: #f6f6f6;
    transition: all 1s;
}






/*Articulos*/
.contenedor-articulos{
    padding: 10px !important;
}
.articulo{
    padding: 10px !important;
}
.articulo .row{
    margin: 0px;
}
.articulo  .arriba{
    background-color: #eaeaea;
    height: 300px;
}
.articulo .abajo{
    padding: 5px;
    height: 70px;
    background-color: #e0e0e0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: .9em;
}
.articulo .arriba .derecha{
    height: 100%;
    padding: 0px;
}
.articulo .arriba .izquierda{
    height: 100%;
}
.articulo .arriba .derecha .imagen{
    position: relative;
    height: 100%;
    background-image: url("../img/productos/Cama.jpg");
    background-position-x: -100px;
    background-size: auto 100%;
    transition: all 1s;
}
.articulo .arriba .derecha .imagen:hover{
    width: 100%;
    position: relative;
    background-position-x: -100px;
    background-size: auto 100%;
    z-index: 5;
    animation-name: vistaprevia;
    transition: all 1s;
}
.articulo .arriba .izquierda .antes{
    margin-left: 10px;
    margin-top: 20px;
}
.articulo .arriba .izquierda .antes div{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-decoration: line-through;
    font-size: .9em;
    display: inline;
    color: gray;
}
.articulo .arriba .izquierda .antes .monto{
    margin-left: -3px;
}
.articulo .arriba .izquierda .descuento{
    background-color: #e41f1f;
    width: 45px;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-left: 65px;
    margin-top: 20px;
    margin-bottom: -40px;
    border-radius: 7px;
    border-bottom-left-radius: 0px;
}
.articulo .arriba .izquierda .descuento div{
    font-size: 0.7em;
    font-weight: 700;
    color:white;
}
.articulo .arriba .izquierda .ahora{
    margin-top: 30px;
    margin-left: 10px;
}
.articulo .arriba .izquierda .ahora .ahorita{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: .9em;
    margin-bottom:-5px;
}
.articulo .arriba .izquierda .ahora .b{
    font-size: 1.6em;
    color: #e41f1f;
    font-family: 'Century Gothic', sans-serif;
    font-weight: 400;
}
.articulo .arriba .izquierda .ahora .moneda{
    font-size: 1em;
    font-weight: 700;
}
.articulo .arriba .izquierda  .vermas{
    margin-top: 30px;
    font-size: .7em;
    width: 60px;
    text-align: center;
    color: white;
    font-family: 'Century Gothic', sans-serif;
    font-weight: 700;
    background-color: green;
    border-radius: 4px;
    padding: 2px 2px;
    left: 5px;
    top: 30%;
    cursor: pointer;
    z-index: 1;
}

.articulo .arriba .izquierda  .agrAlCarrito{
    margin-top: 10px;
    font-size: .7em;
    text-align: center;
    font-weight: 700;
    background-color: #e41f1f;
    border-radius: 4px;
    left: 5px;
    cursor: pointer;
    z-index: 1;
}



/*VISTA ARTICULO*/
.vistaArticulo{
    position: absolute;
    width: 100%;
    height: 800px;
    z-index: 5;
}
.fondoArticulo{
    position: fixed;
    background-color: black;
    height: 100%;
    width: 100%;
    top: 0px;
    z-index: 5;
    opacity: .8;
}
.contenedorArticulo{
    position: fixed;
    background-color: white;
    width: 100%;
    top: 70px;
    z-index: 6;
    padding: 0px 200px;
    padding-top: 65px;
}

.contenedorArticulo .portadaArticulo{
    height: 450px;
    padding: 15px;
}
.contenedorArticulo .descripcionArticulo{
    padding: 15px;
}
.contenedorArticulo .precioArticulo{
    padding: 15px;
}

.contenedorArticulo .portadaArticulo .imagen{
    width: 100%;
    height: 100%;
    /*background-image: url("../img/productos/Cama.jpg");
    background-position-y: 50%;
    background-size: cover; */
    overflow: hidden;
    background-color: blue;
}
.contenedorArticulo .portadaArticulo .imagen .imgVP{   
    margin-top: -20%;
}
.contenedorArticulo .descripcionArticulo .titulo span{
    font-size: 30px;
    text-align: justify;
}
.contenedorArticulo .descripcionArticulo .descripcion span{
    text-align: justify;
}
.contenedorArticulo .precioArticulo .antes{
    margin-left: 10px;
}
.contenedorArticulo .precioArticulo .antes div{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-decoration: line-through;
    font-size: .9em;
    display: inline;
    color: gray;
}
.contenedorArticulo .precioArticulo .antes .monto{
    margin-left: -3px;
}
.contenedorArticulo .precioArticulo .descuento{
    background-color: #e74444;
    width: 58px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-left: 150px;
    margin-top: -40px;
    margin-bottom: -40px;
    border-radius: 7px;
    border-bottom-left-radius: 0px;
}
.contenedorArticulo .precioArticulo .descuento div{
    font-size: 1em;
    font-weight: 700;
    color:white;
}
.contenedorArticulo .precioArticulo  .ahora{
    margin-top: 30px;
    margin-left: 10px;
}
.contenedorArticulo .precioArticulo  .ahora .ahorita{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: .9em;
    margin-bottom:-5px;
}
.contenedorArticulo .precioArticulo  .ahora .b{
    font-size: 3em;
    color: #e74444;
    font-family: 'Century Gothic', sans-serif;
    font-weight: 400;
}
.contenedorArticulo .precioArticulo  .ahora .moneda{
    font-size: 1.5em;
    font-weight: 700;
}

/*VISTA DE PRODUCTO*/
.desplegarVista{
    position: fixed;
    right: 40px;
    bottom: 40px;    
    z-index: 100000;
}
.btnVista{
    width: 60px !important;
    height: 60px !important;
    padding-top: 10px !important; 
}
.circuloBtnVista{
      opacity: 1 !important;
    color: white;
}
.agregarAlCarrito{
    width: 300px;
    position: absolute;
    right: 200px;
    bottom: 50px;
}
#cantidadArticulo{
    font-size: 2em;
    width: 300px !important;
    position: absolute;
    right: 200px;
    bottom: 100px;
}












